{{if .finished}}
<div>
  <p>Finished</p>
</div>
{{end}} {{if .noSolution}}
<div>
  <p>No solution</p>
</div>
{{end}} {{if .show}}
<div>
  <form method="post" hx-post="/tick" hx-target="#content" hx-swap="outerHTML">
    <button>Next Tick</button>
  </form>

  <form
    method="post"
    hx-post="/finish"
    hx-target="#content"
    hx-swap="outerHTML"
  >
    <button>Finish the game</button>
  </form>
</div>

{{end}}

<div>
  <form method="post" hx-post="/reset" hx-target="#content" hx-swap="outerHTML">
    <button>Reset</button>
  </form>
</div>

<hr />

{{ range $row := .labels }}
<div class="row">
  {{ range $elem := $row }}
  <div class="col {{$elem}}"></div>
  {{ end }}
</div>
{{ end }}
